/* SPDX-License-Identifier: LGPL-2.1 */

[Unit]
Description=FlatSat2 Engine ZMQ Proxy
After=network.target

[Service]
ExecStart=/usr/bin/fsat2-engine
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal
ExecStop=/bin/kill -s SIGTERM $MAINPID
ExecReload=/bin/kill -s SIGHUP $MAINPID
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target
